@model List<Content>
<h1>Pending Posts </h1>
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var content in Model)
        {
            <tr>
                <td>@content.ContentText</td>
                <td>
                    <form asp-controller="Content" asp-action="ApproveContent" method="post">
                        <input type="hidden" name="contentId" value="@content.Id" />
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                    <form asp-controller="Content" asp-action="RejectContent" method="post">
                        <input type="hidden" name="contentId" value="@content.Id" />
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
